<div
  id="iframe-container"
  data-merchant-id="<%= payment_method.preferred_merchant_id %>"
  data-iframe-url="<%= payment_method.preferred_iframe_url %>"
  >
</div>
<script src="https://ecom.sandbox.acimacredit.com/js/acima.min.js"></script>
